body {
	font-family: "Lucida Grande", "Lucida Sans Unicode", Helvetica, Arial, sans-serif;
	color: white;
	background-color: darkGray;
	margin: 0px;
    overflow-x: hidden;
}

a {
	color: white;
	text-decoration: none;
}

h1 {
	/*font-size: 24px;*/
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	cursor: pointer;
    text-align: center;
}

h2 {
	/*font-size: 18px;*/
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	cursor: pointer;
    text-align: center;
}

h3 {
	/*font-size: 12px;*/
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	cursor: pointer;
    text-align: center;
}

nav.main {
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    height: 32px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-end;
    align-items: center;
}

@media only screen and (max-width: 768px) {
	h1 {
		font-size: 18px;
	}

	h2 {
		font-size: 12px;
	}

	h3 {
		font-size: 10px;
	}
}

#container {
	position: absolute;
	top: 0px;
	left: 0px;
	right: 0px;
	/*
		flexbox
	*/
	display: flex;
	flex-direction: column;
    align-items: center;
}

header.content {
	min-height: 32px;
	padding: 8px;
}

nav.content {
	display: flex;
	flex-flow: row wrap;
    /*
    justify-content: space-between;
    */
    justify-content: flex-end;
	align-items: center;
}

.tab-button {
	display: inline-block;
	padding: 8px;
	/*font-size: 16px;*/
	text-align: center;
	border: none;
	cursor: default;
}
form#search-wrapper {
	flex: 1 1 auto;
	display: flex;
	flex-direction: row;
	align-items: center;
}
form#login {
	display: flex;
	flex-direction: column;
	align-items: center;
}
/*
	inputs
*/
input[type='search'], input[type='text'], input[type='password'], input[type='email'], input[type='number']  {
	-webkit-appearance: none;
	height: 64px;
	padding: 16px 16px;
	border: none;
	border-radius: 32px;
	flex: none;
    font-size: 32px;
}
input[type='search']#search {
	padding: 8px 8px;
}

input[type='text'], input[type='password'], input[type='email'], input[type='number']  {
	width: 90%;
	margin: 16px 8px;
}
input[type='search']:focus, input[type='text']:focus, input[type='password']:focus, input[type='email'], input[type='number']:focus {
    border-color: none;
    box-shadow: none;
    -webkit-box-shadow: none;
    outline: none;
}

input[type='radio'] {
    display:inline-block;
    width: 64px;
    height: 64px;
}

input[type='range'] {
	-webkit-appearance: none;
	min-width: 96px;
	height: 24px;
	padding: 0 16px 0 16px;
	background: none;
	flex: 1 1 auto;
}
input[type='range']::-webkit-slider-thumb {
	-webkit-appearance: none;
	background-color: darkGray;
	margin-top: -8px;
	height: 24px;
	width: 24px;
	border: 6px solid white;
	border-radius: 12px;
}
input[type='range']::-webkit-slider-runnable-track {
	-webkit-appearance: none;
	background-color: white;
	height: 8px;
	width: 100%;
}
input[type='range']::-moz-range-thumb {
	background-color: darkGray;
	margin-top: -8px;
	height: 24px;
	width: 24px;
	border: 6px solid white;
	border-radius: 12px;
}
input[type='range']::-moz-range-track {
	background-color: white;
	border: none;
	border-radius: 0px;
	height: 8px;
	width: 100%;
}
input[type='range']::-ms-fill-lower {
	background-color: white;
	height: 8px;
}
input[type='range']::-ms-fill-upper {
	background-color: white;
	height: 8px;
}
input[type='range']::-ms-thumb {
	background-color: darkGray;
	margin-top: -8px;
	height: 24px;
	width: 24px;
	border: 6px solid white;
	border-radius: 12px;
}

input[type='color'] {
    -webkit-appearance: none;
	height: 24px;
	width: 24px;
	margin: 16px 8px;
    background-color: attr( value );
}

::-webkit-color-swatch {
    border: none;
}

::-webkit-color-swatch-wrapper {
    padding: 0;
}

::-moz-color-swatch,
::-moz-focus-inner {
    border: none;
}

::-moz-focus-inner {
    padding: 0;
}

select {
    position: relative;
    -webkit-appearance: none;
    width: 128px;
    height: 32px;
	border: none;
	border-radius: 16px;
    background-color: lightgray;
    color: white;
    padding: 0 8px;
}

select::after {
    position: relative;
    content: 'v';
    left: -8px;
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
}

button {
    width: 90%;
    background-color: lightGray;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    font-size: 1.5em;
}

/*

*/
i {
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
}

.right {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}

.left {
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
}

.up {
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
}

.down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}
/*

*/
main.content {
	position: relative;
	min-height: 0px;
	background-color: white;
    flex: 1 1 auto;
	display: flex;
	flex-direction: column;
	overflow: auto;
}

nav.list_pagination {
	min-height: 46px;
	background-color: lightGray;
	display: flex;
	flex-direction: row;	
}

.list_pagnation_item {
	width: 44px;
	height: 44px;
	line-height: 44px; 
	text-align: center;
	color: white;
	border: solid 1px white;
	user-select: none;
	-webkit-user-select: none;
}

.list_scroller {
	position: relative;
	flex: 1 1 auto;
	overflow-x: hidden;
	overflow-y: scroll;
	-webkit-overflow-scrolling: touch;
}

.list_item {
	width: 100%;
	padding: 8px;
	color: darkGray;
	background-color: white;
	border-bottom: 1px solid darkGray;
}
.list_item_nowplaying {
	color: white;
	background-color: darkGray;
	border-bottom: 1px solid darkGray;
}

.scrollview_background {
	position: relative;
	background-color: lightGray;
}
.scrollview_cell {
	position: absolute;
	top: 0px;
	left: 0px;
	right: 0px;
	height: 128px;
	padding: 8px;
	color: darkGray;
	background-color: white;
	border-bottom: 1px solid darkGray;
}
.scrollview_cell_nowplaying {
	color: white;
	background-color: lightGray;
	border-bottom: 1px solid darkGray;
}

.disabled {
	opacity: 0.4;
}

/*
    gallery
*/
.gallery {
    width: 100%;
    height: 128px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: stretch;
    overflow-x: auto;
    overflow-y: hidden;
}

.thumbnail {
    position: relative;
    width: auto;
    height: 128px;
    max-width: 256px;
    flex: none;
    overflow: hidden;
}

.thumbnail > img {
    height: 100%;
    width: auto;
}

.delete {
    position: absolute;
    top: 2px;
    right: 2px;
    width: 16px;
    height: 16px;
    background-image: url( 'images/delete.png' );
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

/*
	file upload
*/
.dragtarget {
	border: 2px dashed darkGray;
	border-radius: 7px;
	box-shadow: inset 0 3px 4px #888;
}
/*
    display
*/
.instance-list {
    width: 100%;
    height: 880px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    overflow-x: auto;
    overflow-y: hidden;
    background-color: darkgray;
}
.instance-container {
    position: relative;
    display: flex;
    width: 600px;
    height: 864px;
    margin: 0 4px 0 4px;
    flex: none;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background-color: rgb( 121,121,121 );
    border-radius: 16px;
}
.instance-header {
    width: 90%;
}
.instance-container > input {
    width: 90%;
    display: block;
}
.instance-label {
    width: 90%;
    display: block;
	/*font-size: 12px;*/
    text-align: center;
    color: white;
}
.online-indicator {
    position: absolute;
    top: 8px;
    right: 8px;
    width: 16px;
    height: 16px;
    border: 1px solid white;
    border-radius: 8px;
    background-color: transparent;
}
.online-indicator.connected {
    background-color: limegreen;    
}

.mash-container {
    width: 100%;
}

.mash-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.mash-list-item {
    position: relative;
    flex: 0 0 0;
    height: 300px;
    width: 300px;
    min-width: 300px;
    padding: 8px;
    margin: 2px;
    text-align: center;
    background-color: rgb( 121,121,121 );
}
/*
    userlist
*/
.user-container {
    width: 100%;
}
.user-list-item {
    position: relative;
    height: 64px;
    width: 95%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding: 8px;
    color: white;
}
.user-list-item:odd {
    background-color: lightgrey;
}
.user-list-item:odd {
    background-color: grey;
}
.user-list-item > span {
    flex: auto;
}
/*
    colour picker
*/
.colour-picker-container {
    display: flex;
    flex-direction: row;
    
    background-color: white;
}
.colour-picker-swatch-container {
    display: flex;
    flex-direction: column;
}
.colour-picker-swatch {
    width: 64px;
    height: 64px;
}
input[type='text'].colour-picker-hex {
    flex: none;
    align-self: stretch;
}
input[type='range'][name='red'] {
    
}

