html
    head
        title= title
        link(rel='stylesheet', href='styles/mash.css')
        meta( name='viewport' content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0' )
    body
        #container
            nav.main
                a( href='https://ifttt.com' target='_blank' style='margin: 0 4px 0 4px') IFTTT
                | |
                a( href='mash-manual.pdf' target='_blank' style='margin: 0 4px 0 4px') manual
                | |
                a( href='/account' style='margin: 0 4px 0 4px') account
                | |
                a( href='/logout' style='margin: 0 16px 0 4px') logout
            h1() MASH - Admin
            h2#account-number() #{account}
            h2() Displays
            .instance-list
                include instance.pug
                each display in displays
                    +display( display )
            h2( style='text-align: center' ) Media
            .mash-container( data-account= account )
        script(src='/scripts/mash.js')