html
    head
        title= title
        link(rel='stylesheet', href='styles/mash.css')
        meta( name='viewport' content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0' )
    body
        #container
            h1( style='text-align: center' ) MASH - Admin
            h2( style='text-align: center' )= message
