.mash-container
    - var hasPrevious = search.pagenumber > 0;
    - var hasNext = ( search.pagenumber + 1 ) * search.pagesize < search.count;
    - 
        var searchTags = "";
        for ( var i = 0; i < search.tags.length; ++i ) {
            searchTags += search.tags[ i ];
            if ( i < search.tags.length - 1 ) searchTags += ',';
        }
    nav( style='display: flex; align-items: space-around; justify-content: center;')
        if hasPrevious
            button( style='margin: 8px; align-self: center; width: 64px;' name='previous-page' ) <
        input( id='mash-search' style='margin: 8px; align-self: center;' type='search' placeholder='tag,tag,...' value= searchTags )
        if hasNext
            button( style='margin: 8px; align-self: center; width: 64px;' name='next-page' ) >
    .mash-list( data-count= search.count data-pagenumber= search.pagenumber data-pagesize= search.pagesize )
        each entry in search.entries
            if entry
                - var mash = entry.mash
                if mash
                    - var isImage = mash.type === 'image';
                    .mash-list-item(data-id= entry._id)
                        if isImage
                            - var url = mash.content.trim().replace('https://dl.dropboxusercontent.com:443','http://mash.soda.co.uk') + '?width=128&height=128';
                            .thumbnail
                                img( src= url )
                        else
                            - var text = mash.content.trim();
                            .thumbnail= text
                        - var tags = mash.tags && typeof mash.tags !== 'string' ? mash.tags.join() : "";
                        input( type='text' name='tags' value= tags )
                        button( name='tag-item' ) tag
                        .delete
                        