.mash-container
    - var hasPrevious = search.pagenumber > 0;
    - var hasNext = ( search.pagenumber + 1 ) * search.pagesize < search.count;
    - 
        var searchTags = "";
        for ( var i = 0; i < search.tags.length; ++i ) {
            searchTags += search.tags[ i ];
            if ( i < search.tags.length - 1 ) searchTags += ',';
        }
    nav.content
        div( style='margin: 0px 8px 0px 8px;')
            input( id='mash-search' style='margin: 8px; width: auto;' type='search' placeholder='search for tag,tag,...' value= searchTags )
            if hasPrevious
                button( style='margin: 8px; width: 64px;' name='previous-page' ) <
            else
                button( style='margin: 8px; width: 64px;' )
            if hasNext
                button( style='margin: 8px; width: 64px;' name='next-page' ) >
            else
                button( style='margin: 8px; width: 64px;' )
        div( style='margin: 0px 8px 0px 8px;')
            input( id='new-tags' style='margin: 8px; align-self: center; width: auto;' type='text' placeholder='new tag,tag,...' )
            button( style='margin: 8px; width: auto;' name='add-tags' ) add tags 
            button( style='margin: 8px; width: auto;' name='set-tags' ) set tags 
            button( style='margin: 8px; width: auto;' name='delete-all' ) delete all 
    .mash-list( data-count= search.count data-pagenumber= search.pagenumber data-pagesize= search.pagesize )
        each entry in search.entries
            if entry
                - var mash = entry.mash
                if mash
                    - var isImage = mash.type === 'image';
                    .mash-list-item(data-id= entry._id)
                        if isImage
                            - var url = mash.content.trim().replace('https://dl.dropboxusercontent.com:443','http://mash.soda.co.uk') + '?width=128&height=128';
                            .thumbnail
                                img( src= url )
                        else
                            - var text = mash.content.trim();
                            .thumbnail= text
                        - var tags = mash.tags && typeof mash.tags !== 'string' ? mash.tags.join() : "";
                        input( type='text' name='tags' value= tags )
                        button( name='tag-item' ) tag
                        .delete
                        