html
	head
		title= title
		link(rel='stylesheet', href='styles/mash.css')
		meta( name='viewport' content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0' )
	body
		#container
			h1( style='text-align: center' ) MASH
			form#login( action='/register', method='POST')
				input(type='text', name='username' placeholder='username', value= name,required, autofocus)
				input(type='email', name='email' placeholder='email', value= email, required)
				input(type='password', name='password' class='form-control', placeholder='password', required)
				input(type='password', name='confirm-password' class='form-control', placeholder='confirm password', required)
				button(class='login', type='submit') Register
				br
				#message
				if message
					h1.text-center.error-message #{message}